<div class="contact-card">
  <h2>{{ contact().firstName }} {{ contact().lastName }}</h2>

  <p class="contact-detail">
    <span class="contact-label">Email:</span>
    <span class="contact-value">{{ contact().email }}</span>
  </p>

  <p class="contact-detail">
    <span class="contact-label">Phone:</span>
    <span class="contact-value">{{ contact().phone }}</span>
  </p>

  <p class="contact-detail">
    <span class="contact-label">Address:</span>
    <span class="contact-value">{{ contact().address }}</span>
  </p>

  <p class="contact-detail">
    <span class="contact-label">Note:</span>
    <span class="contact-value">{{ contact().note }}</span>
  </p>

  <div class="contact-actions">
    <button (click)="editContact()" mat-raised-button>Edit</button>
    <button (click)="deleteContact()" mat-raised-button>Delete</button>
  </div>
</div>
